pyyaml
pydantic

# openai
openai

# langchain_util
google-cloud-bigquery
pandas
chromadb
langchain-core
langchain-openai
langchain-community
langchain-google-community

# document
# langchain

# chat
tiktoken

# firestore
google-cloud-firestore

# cludsql
psycopg2
pgvector
sqlalchemy
